.post-item {
    &:not(:last-of-type) {
        margin-bottom: 50px;
    }

    &__image {
        margin: 0 0 30px;

        img {
            display: block;
            max-width: 100%;
            height: auto;
            box-shadow: -6px -6px 0 var(--anaglyph-red), 6px 6px 0 var(--anaglyph-cyan);

            &:hover {
                box-shadow: -6px -6px 0 var(--anaglyph-cyan), 6px 6px 0 var(--anaglyph-red);
            }
        }
    }

    &__title {
        margin: 0 0 25px;
        font-size: 36px;
    }

    &__content {
        margin-bottom: 15px;

        p {
            margin: 0;
            font-size: 18px;
            line-height: 30px;
        }
    }

    &__meta {
        display: flex;
    }

    &__date {
        color: var(--color-anchor);
        font-size: 15px;
        line-height: 20px;
    }

    .tag-list {
        margin-left: 10px;

        &::before {
            content: "—";
            font-size: 15px;
            color: #888;
            line-height: 20px;
        }
    }
}
