@import 'fonts';
@import 'animations';
@import 'layout';

body {
    margin: 0;
    font-family: var(--font-family-body), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection, ::-moz-selection {
    background-color: #333;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    font-family: var(--font-family-heading);
    font-weight: 400;
}

h1 {
    font-size: 60px;
    line-height: 70px;
}

h2 {
    font-size: 45px;
    line-height: 50px;
}

h3 {
    font-size: 36px;
    line-height: 42px;
}

h4 {
    font-size: 28px;
    line-height: 38px;
}

h5 {
    font-size: 22px;
    line-height: 28px;
}

h6 {
    font-size: 18px;
    line-height: 24px;
}

.anaglyph-title {
    a, span {
        display: inline;
        background-color: var(--color-primary);
        padding: 0 6px 4px 6px;
        color: #fff;
        text-decoration: none;
        white-space: pre-wrap;
    }

    span,
    a:hover {
        text-shadow: -3px -3px 0 var(--anaglyph-red), 3px 3px 0 var(--anaglyph-cyan);
    }
}

h3.anaglyph-title {
    line-height: 48px;
}

p {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 32px;

    code {
        background-color: var(--color-primary);
        padding: 0 4px;
        border-radius: 3px;
        color: #fff;
        font-size: 18px;
    }
}

ol, ul {
    margin: 0 0 20px;
    padding: 0 0 0 35px;

    li {
        font-size: 18px;
        line-height: 28px;
    }
}

hr {
    display: block;
    background-color: var(--color-primary);
    height: 5px;
    margin: 0 0 20px;
    border: none;
}

pre, code {
    font-family: var(--font-family-mono) !important;
}

pre {
    background-color: var(--color-primary) !important;
    margin: 30px 0 !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

blockquote {
    margin: 0 0 20px 6px;
    padding: 10px 0 10px 20px;
    border-left: 5px solid var(--color-primary);

    p {
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

table {
    width: 100%;
    max-width: 650px;
    margin: 40px auto;
    border: 5px solid var(--color-primary);

    th {
        background-color: var(--color-primary);
        padding: 1px 10px 5px;
        color: #fff;
        font-family: var(--font-family-heading);
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    td {
        padding: 5px 10px;
        text-align: center;
    }

    tr:not(:last-child) td {
        border-bottom: 2px solid var(--color-primary);
    }
}

table, pre {
    box-shadow: -5px -5px 0 var(--anaglyph-red), 5px 5px 0 var(--anaglyph-cyan);

    &:nth-of-type(2n) {
        box-shadow: -5px -5px 0 var(--anaglyph-cyan), 5px 5px 0 var(--anaglyph-red);
    }
}
